@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,200,300,400,500,600,700&display=swap');

*{font-display: swap;}
*:not(input){font-family:"Noto Sans KR";-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent;}
*:focus {outline: none;}
*::-webkit-scrollbar{display:none;width: 0;}
a{text-decoration: none;color: inherit;}
p,ul,table{margin:0;padding:0;}
li,ul{list-style:none;padding: 0;margin: 0;}
input::placeholder {color: #cfcfcf;}
input, button {margin: 0;padding: 0;line-height: inherit;font-size: inherit;color: inherit;border: none;background: transparent;}
input:focus::-webkit-input-placeholder{color: transparent;}
table{border-spacing: 0;}
h1,h2,h3,h4,h5,h6 {margin: 0;padding: 0;}
hr {margin: 0;padding: 0;height: 8px;border: 0;background: #eff2f8;}

body{position: relative;margin:0;padding: 0;line-height:1.5;color: #222;scroll-behavior: smooth;overflow-x: hidden;word-break: break-all;}

/* Input box cursor color*/
input[type="password"],
input[type="number"],
input[type="text"],
input[type="search"],
input[type="tel"]{caret-color: #EA002C;-webkit-user-select:auto;user-select:auto;}


/* 공통스타일 */
.backdrop_st01 {background: rgba(249,249,249,.78);backdrop-filter: blur(20px);-webkit-backdrop-filter: blur(20px);border: 0.5px solid rgba(0,0,0,.05);}
.margin {margin: 0 16px;}
img {width: 100%;height: auto;vertical-align: top;}
.flex {display: flex;}
.hide_up {transform: translateY(-100vh);}
.transition {transition: all .3s ease;}
.hide_right {transform: translateX(100vw);}
.hide_left {transform: translateX(-100vw);}
.hide_down {transform: translateY(100vh);}
.box44 { width: 44px; height: 44px; }
.line_cut {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.line_cut.th2 {white-space: normal;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.center {text-align: center;}
.flex > img {margin: auto;}
.box, .box_all, .box_all * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.wrap {position: relative;}
.hide {position: absolute;clip: rect(0 0 0 0);width: 1px;height: 1px;margin: -1px;overflow: hidden;}
.full {width: 100%;}
.block {display: block;}


/* 메인 네비게이션바 */
header #nav_1 {position: fixed;top: 16px;left: 68px;right: 68px;margin: 0 auto;max-width: 750px;border-radius: 44px;z-index: 11;}
header .depth_1 {margin: 0 8px !important;}
header .depth_1 li {display: inline-block;width: auto;}
header .depth_1 li a{display: inline-block;margin: 0 4px;padding: 10px 12px;font-size: 1rem;color: rgba(0,0,0,.7);}


/* 서브 네비게이션바 */
header #nav_2 {display: none;}
header .depth_2 {display: inline-block;}
header .depth_2 li {display: inline-block;width: auto;}
header .depth_2 li a {display: inline-block;padding: 0.2rem 0.6rem;font-size: 1rem;color: rgba(0,0,0,.7);border-radius: 16px;}


/* 메뉴 버튼 */
header #btn_menu {position: fixed;top: 16px;left: 16px;width: 44px;height: 44px;border-radius: 44px;z-index: 11;}
header #btn_menu .icon_menu {position: relative;margin: auto;width: 20px;transition-timing-function: linear;transition-duration: .15s;transition-property: opacity,filter;}
header #btn_menu .icon_menu_inner {margin-top: -1px; top: 50%;transition-timing-function: cubic-bezier(.55,.055,.675,.19);transition-duration: .22s;}
header #btn_menu .icon_menu_inner:before, .icon_menu_inner:after {content: '';display: block;}
header #btn_menu .icon_menu_inner:before {top: -5px; transition: top .1s ease-in .25s,opacity .1s ease-in; }
header #btn_menu .icon_menu_inner:after {bottom: -5px;transition: bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19);}
header #btn_menu .icon_menu_inner, #btn_menu .icon_menu_inner:before, #btn_menu .icon_menu_inner:after {position: absolute;width: 100%; height: 2px;border-radius: 2px;background-color: #EA002C;transition-timing-function: ease;transition-duration: .15s;transition-property: transform;}
header #btn_menu.on .icon_menu_inner {transition-delay: .12s;transition-timing-function: cubic-bezier(.215,.61,.355,1);transform: rotate(225deg);}
header #btn_menu.on .icon_menu_inner:before {top: 0; transition:top .1s ease-out,opacity .1s ease-out .12s; opacity: 0;}
header #btn_menu.on .icon_menu_inner:after {bottom: 0; transition:bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;transform: rotate(-90deg);}


/* 검색버튼 */
header #search_wrap {display: none;}
header #btn_search {position: absolute;top: 0;right: 0;width: 44px;height: 44px;border-radius: 100%;}


/* footer */
footer .info {padding: 0 0 10px;text-align: center;font-size: 0;}
footer .info a {padding: 10px 8px;font-size: 1rem;}
footer .copyright {font-size: 0.875rem;text-align: center;}
footer {padding-bottom: 64px;}
footer .ad_wrap {margin:;}


/* 마이페이지 */
header #mypage {position: fixed;top: 16px;left: 16px;width: 44px;height: 44px;border-radius: 44px;transition: width 0.3s ease,height 0.3s ease, border-radius 0.3s 0.1s ease;z-index: 10;}
header #mypage.on {width: 100%;height: 100%;border-radius: 0;border-color: transparent;transform: translate(-16px, -16px);transition: width 0.3s ease,height 0.3s ease;z-index: 10;}


/* lay_out */
#cnt {max-width: 750px;background: #fff;}
.lay_wrap.full {padding: 0;}
.lay_wrap {max-width: 568px;margin: 0 auto 2rem;padding: 0 16px;}
.art_wrap {margin-top: 104px;min-height: 200vh;}

/* search */
.sch .sch_form {position: relative;padding: 0 60px 0 16px;height: 40px;line-height: 40px;border: 2px solid #EA002C;border-radius: 44px;}
.sch button {position: absolute;top: 0;right: 0;width: 40px;height: 40px;}
.sch button img {width: 24px;}


/* title */
.tit_wrap {position: relative;}
.tit_wrap .tit {margin-bottom: 4px;font-size: 1.125rem;line-height: 44px;}
.tit_wrap .more {position: absolute;top: 0;right: -16px;width: 44px;height: 44px;}
.tit_wrap .more::after, .more::before {content: '';display: block;position: absolute;background: #009DFF;}
.tit_wrap .more::after {top: calc(50% - 6px);left: calc(50% - 1px);width: 2px;height: 12px;}
.tit_wrap .more::before {top: calc(50% - 1px);left: calc(50% - 6px);width: 12px;height: 2px;}


/* cnt_type1 */
.cnt_type1 > li {width: 160px !important;}
.cnt_type1 > li:first-child {margin-left: 16px;}
.cnt_type1 > li:last-child {margin-right: 16px;}
.cnt_type1 .img_wrap {margin-bottom: 4px;width: 160px;height: 90px;}
.cnt_type1 .img_wrap img {width: 100%;height: 100%;object-fit: cover;}
.cnt_type1 .name .tit {font-size: 0.938rem;}
.cnt_type1 .name .cate_name {position: relative;top: -2px;padding: 0 5px;font-size: 0.750rem;color: #EA002C;border: 0.5px solid #EA002C;border-radius: 6px;}
.cnt_type1 .name {height: 2.8rem;line-height: 1.4;}
