#pid_home .wrap {margin: 0 auto;max-width: 750px;background: #fff;}
#pid_home .art_wrap {margin-top: 60px;}
#pid_home .logo img {width: 48px;}
#pid_home .logo {margin-bottom: 2rem;text-align: center;}
#pid_home .mid_bar {display: none;}

/* 북마크 */
#pid_home .bmk {padding: 0 55px;max-width: 360px;}
#pid_home .bmk .flex {flex-flow: wrap;}
#pid_home .bmk .box {width: 25%;text-align: center;}
#pid_home .bmk .box .img {margin-bottom: 4px;width: 80%;height: auto;}
#pid_home .bmk .box .txt {margin-bottom: 8px;font-size: 0.750rem;}
