{% extends "base.html" %}

{% block title %}PAGE TITLE{% endblock %}
{% block content %}
<main id="board-detail">
    <section>
        <div class="container">
            <div class="text-wrap">
                <p class="cate1 br-circle">MAGAZINE</p>
                <p class="cate2">[INSIGHT]</p>
                <h1 class="title">귀로 듣는 오디오 콘텐츠 플랫폼의 매력!</h1>
            </div>
            <div class="board-wrap">
                <p>초기 브랜드 런칭에 필요한 브랜드 아이덴티티에 부합하는 메시지 발굴을 필두로 퍼포먼스 매체 운영 및 데이터 분석,그로쓰 측명의 브랜드 상세페이지 개선 및 페이지 내 브랜드 무드 통일 및 전환 개선 사항 적용</p>
                <p>크리에이티브 측면인 소재 메시지 발굴 및 소재 제작까지 통합적인 마케팅을 진행하여 안정적인 브랜드 런칭 캠페인을 운영</p>
            </div>
            <div class="pagenation">
                <div class="next">
                    <span>이전글</span><a href="#none">[INSIGHT]귀로 듣는 오디오 콘텐츠 플랫폼의 매력!</a>
                </div>
                <div class="prev">
                    <span>이전글</span><a href="none">[INSIGHT]귀로 듣는 오디오 콘텐츠 플랫폼의 매력!</a>
                </div>
            </div>
    </section>
</main>
{% endblock %}

{% block common_js %}
<script type="text/javascript">
  (function($){
    $(document).ready(function() {

    });
  })(jQuery);
</script>
{% endblock %}
