{% extends "base.html" %}

{% block title %}BRANDING{% endblock %}
{% block content %}
<main id="performance-marketing">
    <section class="board-type-1 container" style="padding-top:92px;">
        <div class="board-teb-menu row">
            <div class="col-6" data-aos="fade-right">
                <a href="performance-marketing.php">PERFORMANCE MARKETING</a>
            </div>
            <div class="col-6" data-aos="fade-left">
                <a href="imc-planning.php">IMC PLANNING</a>
            </div>
            <div class="col-6" data-aos="fade-right">
                <a href="branding.php" class="active">BRANDING</a>
            </div>
            <div class="col-6" data-aos="fade-left">
                <a href="site-production.php">SITE PRODUCTION</a>
            </div>
        </div>
        <ul class="list row">
            <li class="item col-4 mb-50" data-aos="fade-up">
                <a href="portfolio-detail.php">
                    <div class="img-wrap">
                        <img src="views/images/sample-620x620.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <p>category name</p>
                        <p>portfolio brand name</p>
                    </div>
                </a>
            </li>
            <li class="item col-4 mb-50" data-aos="fade-up">
                <a href="portfolio-detail.php">
                    <div class="img-wrap">
                        <img src="views/images/sample-620x620.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <p>category name</p>
                        <p>portfolio brand name</p>
                    </div>
                </a>
            </li>
            <li class="item col-4 mb-50" data-aos="fade-up">
                <a href="portfolio-detail.php">
                    <div class="img-wrap">
                        <img src="views/images/sample-620x620.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <p>category name</p>
                        <p>portfolio brand name</p>
                    </div>
                </a>
            </li>
            <li class="item col-4 mb-50" data-aos="fade-up">
                <a href="portfolio-detail.php">
                    <div class="img-wrap">
                        <img src="views/images/sample-620x620.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <p>category name</p>
                        <p>portfolio brand name</p>
                    </div>
                </a>
            </li>
            <li class="item col-4 mb-50" data-aos="fade-up">
                <a href="portfolio-detail.php">
                    <div class="img-wrap">
                        <img src="views/images/sample-620x620.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <p>category name</p>
                        <p>portfolio brand name</p>
                    </div>
                </a>
            </li>
            <li class="item col-4 mb-50" data-aos="fade-up">
                <a href="portfolio-detail.php">
                    <div class="img-wrap">
                        <img src="views/images/sample-620x620.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <p>category name</p>
                        <p>portfolio brand name</p>
                    </div>
                </a>
            </li>
        </ul>
        <div class="pagenation-wrap">
            <ol>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
            </ol>
        </div>
    </section>
</main>
{% endblock %}
