{% extends "base.html" %}

{% block title %}ERUDA{% endblock %}
{% block add %}
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="eruda">
    <section id="sec1" class="hero-image" data-aos="zoom-out">
        <div class="hero-text-wrap">
            <div class="hero-text mb-4">
                <h1">고객의 성장을 위해 고민한 시간</h1>
            </div>
            <div class="row countup justify-content-center" id="countup1">
                <div class="d-inline-block text-center">
                    <div class="timeel days">00</div>
                    <div class="text">DAYS</div>
                </div>
                <div class="d-inline-block text-center mx-3">:</div>
                <div class="d-inline-block text-center">
                    <div class="timeel hours">00</div>
                    <div class="text">HOURS</div>
                </div>
                <div class="d-inline-block text-center mx-3">:</div>
                <div class="d-inline-block text-center">
                    <div class="timeel minutes">00</div>
                    <div class="text">MINUTES</div>
                </div>
                <div class="d-inline-block text-center mx-3">:</div>
                <div class="d-inline-block text-center">
                    <div class="timeel seconds">00</div>
                    <div class="text">SECONDS</div>
                </div>
            </div>
        </div>
    </section>

    <section id="sec2">
        <div class="container">
            <p class="txt-1 section-title">마케팅 그 이상의<br>가치를 창조합니다</p>
            <div class="ani-text-wrap" data-aos="fade-up" data-aos-anchor-placement="center-center">
              <p class="txt-2 section-title br-circle">이루다마케팅은<br>퍼포먼스 기반<br>디지털 마케팅 에이전시<br>입니다</p>
              <p class="section-sub-title">온라인 마케팅을 넘어<br>소비자의 브랜드 경험까지<br>브랜드의 가치를 함께 만들어가는<br> 국내 최고의 종함 디지털 마케팅 에이전시 입니다.</p>
            </div>
        </div>
        <div class="img-wrap">
            <img src="views/images/main-office.png" alt="" />
        </div>
    </section>

    <section id="sec3" class="container">
        <h1 class="section-title br-circle" data-aos="fade-up">이루다마케팅은<br>국내외 최정상 파트너사와<br>협업을 이어가고 있습니다</h1>
        <ul class="list-1 row">
            <li class="item col-6 col-md-4" data-aos="fade-up">
                <div class="img-wrap">
                    <img src="views/images/partner/eruda-partner-1.png" alt="">
                </div>
                <p>네이버 GFA 공식 대행사</p>
            </li>
            <li class="item col-6 col-md-4" data-aos="fade-up">
                <div class="img-wrap">
                    <img src="views/images/partner/eruda-partner-2.png" alt="">
                </div>
                <p>카카오 공식 대행사</p>
            </li>
            <li class="item col-6 col-md-4" data-aos="fade-up">
                <div class="img-wrap">
                    <img src="views/images/partner/eruda-partner-9.png" alt="">
                </div>
                <p>2021 지그재그 프리미어 에이전시</p>
            </li>
            <li class="item col-6 col-md-4" data-aos="fade-up">
                <div class="img-wrap">
                    <img src="views/images/partner/eruda-partner-17.png" alt="">
                </div>
                <p>페이스북 공식 마케팅 파트너</p>
            </li>
            <li class="item col-6 col-md-4" data-aos="fade-up">
                <div class="img-wrap">
                    <img src="views/images/partner/eruda-partner-6.png" alt="">
                </div>
                <p>ZUM 공식 대행사</p>
            </li>
            <li class="item col-6 col-md-4" data-aos="fade-up">
                <div class="img-wrap">
                    <img src="views/images/partner/eruda-partner-8.png" alt="">
                </div>
                <p>SK플래닛 OCB 공식 대행사</p>
            </li>
        </ul>
        <ul class="list-2 row" data-aos="fade-up">
            <li class="item">
                <img src="views/images/partner/eruda-partner-1.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-2.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-3.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-4.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-5.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-6.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-7.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-8.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-9.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-10.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-11.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-12.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-13.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-14.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-15.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-16.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-17.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-18.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-19.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-20.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-21.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-22.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-23.png" alt="">
            </li>
            <li class="item">
                <img src="views/images/partner/eruda-partner-24.png" alt="">
            </li>
        </ul>
    </section>

    <section id="sec4" class="container">
        <h1 class="section-title br-circle" data-aos="fade-up">ERUDA CI</h1>
        <div class="row" data-aos="fade-up">
            <div class="col-12 col-md-4">
                <h4>SYMBOL</h4>
            </div>
            <div class="col-12 col-md-8">
                <P>이루다의 자음을 형상화한 심볼 로고와 새로움을 의마하는 블루 계열의 그라데이션 컬러는 고객에게 정직하고 가장 올바른 답을 제공하는 이루다마케팅의 방향성을 상징합니다.</P>
                <img src="views/images/eruda-ci.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6" data-aos="fade-up">
                <h4>SIGNATURE | Korean</h4>
                <img src="views/images/eruda-ci-kr.png" alt="">
            </div>
            <div class="col col-md-6" data-aos="fade-up">
                <h4>SIGNATURE | English</h4>
                <img src="views/images/eruda-ci-en.png" alt="">
            </div>
        </div>
    </section>

    <section id="sec5">
        <ul class="row m-0">
            <li class="col-6 col-md-3 p-0" data-aos="fade-up">
                <div class="text-wrap" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <h4>Leader</h4>
                    <p>애자일 조직 이루다는<br>모두가 리더입니다.</p>
                </div>
                <img src="views/images/eruda_sec5_1.jpg" alt="">
            </li>
            <li class="col-6 col-md-3 p-0" data-aos="fade-up">
                <div class="text-wrap" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <h4>Pro</h4>
                    <p>우리는 뜨거운 열정으로<br>뭉친 프로 마케터입니다.</p>
                </div>
                <img src="views/images/eruda_sec5_2.jpg" alt="">
            </li>
            <li class="col-6 col-md-3 p-0" data-aos="fade-up">
                <div class="text-wrap" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <h4>Creator</h4>
                    <p>브랜드 가치를 만들어가는 크리에이터입니다.</p>
                </div>
                <img src="views/images/eruda_sec5_3.jpg" alt="">
            </li>
            <li class="col-6 col-md-3 p-0" data-aos="fade-up">
                <div class="text-wrap" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <h4>Challenger</h4>
                    <p>새로움을 추구하는<br>도전자입니다.</p>
                </div>
                <img src="views/images/eruda_sec5_4.jpg" alt="">
            </li>
        </ul>
        <div class="container">
            <h3 class="section-sub-title text-center" data-aos="fade-up">한 사람의 꿈은 그저 꿈이지만 모두의 꿈은 현실이 된다.</h3>
        </div>
    </section>

</div>
{% endblock %}

{% block common_js %}
<script type="text/javascript">
  window.onload = function() {
    // Month Day, Year Hour:Minute:Second, id-of-element-container
    countUpFromTime("Jun 1, 2021 12:00:00", 'countup1'); // ****** Change this line!
  };
  function countUpFromTime(countFrom, id) {
    countFrom = new Date(countFrom).getTime();
    var now = new Date(),
        countFrom = new Date(countFrom),
        timeDifference = (now - countFrom);

    var secondsInADay = 60 * 60 * 1000 * 24,
        secondsInAHour = 60 * 60 * 1000;

    days = Math.floor(timeDifference / (secondsInADay) * 1);
    // years = Math.floor(days / 365);
    // if (years > 1){ days = days - (years * 365) }
    hours = Math.floor((timeDifference % (secondsInADay)) / (secondsInAHour) * 1);
    mins = Math.floor(((timeDifference % (secondsInADay)) % (secondsInAHour)) / (60 * 1000) * 1);
    secs = Math.floor((((timeDifference % (secondsInADay)) % (secondsInAHour)) % (60 * 1000)) / 1000 * 1);

    if (hours < 10) {
        hours = '0' + hours;
    } else {
        hours = hours;
    }

    if (mins < 10) {
        mins = '0' + mins;
    } else {
        mins = mins;
    }

    if (secs < 10) {
        secs = '0' + secs;
    } else {
        secs = secs;
    }




    var idEl = document.getElementById(id);
    // idEl.getElementsByClassName('years')[0].innerHTML = years;
    idEl.getElementsByClassName('days')[0].innerHTML = days;
    idEl.getElementsByClassName('hours')[0].innerHTML = hours;
    idEl.getElementsByClassName('minutes')[0].innerHTML = mins;
    idEl.getElementsByClassName('seconds')[0].innerHTML = secs;



    clearTimeout(countUpFromTime.interval);
    countUpFromTime.interval = setTimeout(function(){ countUpFromTime(countFrom, id); }, 1000);
  }

  (function($){
    $(document).ready(function() {
      $('#gnb').addClass('hero-page');
    });

    $(window).on('scroll', function () {
      var scrolled = $(this).scrollTop();

      if (scrolled >= 800 && scrolled <= 1726) {
          $('#eruda #sec2 .img-wrap img').css('max-width', 1000 + scrolled - 800 + 'px');
          $('#eruda #sec2 .img-wrap img').css('margin-top', scrolled - 800 + 'px');
          // $('#sec2 .ani-text-wrap').css('opacity', (scrolled - 900) / 200 );
      } else if ( scrolled >= 2300 && scrolled <= 2400) {
          AOS.init({
              duration: 1000,
          });
      } else if ( scrolled >= 5000 && scrolled <= 7500) {
          console.log('5500도달');
          $('#eruda #sec5 ul').css('max-width', 1000 + scrolled - 5000 + 'px');
      }

    });
  })(jQuery);
</script>
{% endblock %}
