{% extends "base.html" %}

{% block title %}IMC PLANNING{% endblock %}
{% block content %}
<main id="portfolio-list">
    <section class="board-type-1 container" style="padding-top:92px;">
        <div class="board-teb-menu row">
            <div class="col-6" data-aos="fade-right">
                <a href="performance-marketing.php">PERFORMANCE MARKETING</a>
            </div>
            <div class="col-6" data-aos="fade-left">
                <a href="imc-planning.php" class="active">IMC PLANNING</a>
            </div>
            <div class="col-6" data-aos="fade-right">
                <a href="branding.php">BRANDING</a>
            </div>
            <div class="col-6" data-aos="fade-left">
                <a href="site-production.php">SITE PRODUCTION</a>
            </div>
        </div>
        <ul class="list row">
            <li class="item col-4 mb-50" data-aos="fade-up">
                <a href="portfolio-detail.php">
                    <div class="img-wrap">
                        <img src="views/images/sample-620x620.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <p>category name</p>
                        <p>portfolio brand name</p>
                    </div>
                </a>
            </li>
            <li class="item col-4 mb-50" data-aos="fade-up">
                <a href="portfolio-detail.php">
                    <div class="img-wrap">
                        <img src="views/images/sample-620x620.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <p>category name</p>
                        <p>portfolio brand name</p>
                    </div>
                </a>
            </li>
            <li class="item col-4 mb-50" data-aos="fade-up">
                <a href="portfolio-detail.php">
                    <div class="img-wrap">
                        <img src="views/images/sample-620x620.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <p>category name</p>
                        <p>portfolio brand name</p>
                    </div>
                </a>
            </li>
            <li class="item col-4 mb-50" data-aos="fade-up">
                <a href="portfolio-detail.php">
                    <div class="img-wrap">
                        <img src="views/images/sample-620x620.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <p>category name</p>
                        <p>portfolio brand name</p>
                    </div>
                </a>
            </li>
            <li class="item col-4 mb-50" data-aos="fade-up">
                <a href="portfolio-detail.php">
                    <div class="img-wrap">
                        <img src="views/images/sample-620x620.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <p>category name</p>
                        <p>portfolio brand name</p>
                    </div>
                </a>
            </li>
            <li class="item col-4 mb-50" data-aos="fade-up">
                <a href="portfolio-detail.php">
                    <div class="img-wrap">
                        <img src="views/images/sample-620x620.png" alt="">
                    </div>
                    <div class="text-wrap">
                        <p>category name</p>
                        <p>portfolio brand name</p>
                    </div>
                </a>
            </li>
        </ul>
        <div class="pagenation-wrap">
            <div class="first">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b5b5b5" class="bi bi-arrow-left" viewBox="-3 1 24 24">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>
                </a>
            </div>
            <div class="prev">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b5b5b5" class="bi bi-chevron-left" viewBox="-3 1 24 24">
                      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                    </svg>
                </a>
            </div>
            <ol>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
            </ol>
            <div class="next">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b5b5b5" class="bi bi-chevron-right" viewBox="-3 1 24 24">
                      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </a>
            </div>
            <div class="last">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b5b5b5" class="bi bi-arrow-right" viewBox="-3 1 24 24">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </a>
            </div>
        </div>
    </section>
</main>
{% endblock %}
