{% extends "base.html" %}

{% block title %}PORTFOLIO{% endblock %}
{% block content %}
<main id="portfolio">
    <section class="portfolio-category" style="padding-top:92px;">
        <ul class="row w-100 m-0">
            <li class="col-6 col-lg-3" data-aos="fade-down"
                data-aos-anchor="#example-anchor"
                data-aos-offset="500"
                data-aos-duration="500"
            >
                <a class="row transition-10-all" href="performance-marketing.php">
                    <div class="flex">
                        <h3>PERFORMANCE MARKETING</h3>
                    </div>
                    <img class="col-12" src="views/images/we-do-1.png" alt="">
                </a>
            </li>
            <li class="col-6 col-lg-3" data-aos="fade-down"
                data-aos-anchor="#example-anchor"
                data-aos-offset="500"
                data-aos-duration="1000"
            >
                <a class="row transition-10-all" href="imc-planning.php">
                    <div class="flex">
                        <h3>IMC PLANNING</h3>
                    </div>
                    <img class="col-12" src="views/images/we-do-2.png" alt="">
                </a>
            </li>
            <li class="col-6 col-lg-3" data-aos="fade-down"
                data-aos-anchor="#example-anchor"
                data-aos-offset="500"
                data-aos-duration="1500"
            >
                <a class="row transition-10-all" href="branding.php">
                    <div class="flex">
                        <h3>BRANDING</h3>
                    </div>
                    <img class="col-12" src="views/images/we-do-3.png" alt="">
                </a>
            </li>
            <li class="col-6 col-lg-3" data-aos="fade-down"
                data-aos-anchor="#example-anchor"
                data-aos-offset="500"
                data-aos-duration="2000"
            >
                <a class="row transition-10-all" href="site-production.php">
                    <div class="flex">
                        <h3>SITE PRODUCTION</h3>
                    </div>
                    <img class="col-12" src="views/images/we-do-4.png" alt="">
                </a>
            </li>
        </ul>
    </section>
</main>
{% endblock %}
