{% extends "base.html" %}

{% block title %}RECRUIT{% endblock %}
{% block content %}
<main id=recruit>
    <section class="container" style="padding-top:192px;">
        <h3 class="section-title br-circle" data-aos="fade-up">
            이루다마케팅과<br>
            함께 성장할 준비<br class="d-lg-none"> 되셨나요?
        </h3>
        <h4 class="section-sub-title" data-aos="fade-up">
            고객과 함께 성장하는 국내 No.1 마케팅 그룹<br class="d-none d-sm-block d-lg-none"> 이루다마케팅은<br class="d-none d-lg-block">
            고객사에 최적화된 효과적인<br class="d-none d-sm-block d-lg-none"> 마케팅 전략을 제안합니다.
        </h4>
        <div class="board-teb-menu row m-0" style="padding:82px 0 25px;">
            <div class="col-12 col-md-6 pl-lg-0" data-aos="fade-right">
                <a href="ad.php">광고문의</a>
            </div>
            <div class="col-12 col-md-6 pr-lg-0" data-aos="fade-left">
                <a href="recruit.php" class="active">채용 문의 및 입사지원</a>
            </div>
        </div>
    </section>
    <section class="container mb-5" style="padding-top:100px;">
        <h3 class="section-title br-circle" data-aos="fade-up">
            일과 삶의 균형을<br class="d-lg-none"> 중시하는<br class="d-none d-lg-block">
            이루다만의<br class="d-lg-none"> 기업 문화를 만듭니다
        </h3>

        <ol class="row pb-5 mb-5">
            <li class="item col-sm-12 col-md-6 col-lg-4 mb-md-5 mb-3" data-aos="fade-up">
                <div class="item-number">01</div>
                <p class="item-title">프런치데이</p>
                <p class="item-dsc">월 1회 금요일<br> 점심시간 2시간</p>
            </li>
            <li class="item col-sm-12 col-md-6 col-lg-4 mb-md-5 mb-3" data-aos="fade-up">
                <div class="item-number">02</div>
                <p class="item-title">직원할인제도</p>
                <p class="item-dsc">그룹사 제품 50% 할인<br> (젝시믹스, 휘아, 쓰리케어 등)</p>
            </li>
            <li class="item col-sm-12 col-md-6 col-lg-4 mb-md-5 mb-3" data-aos="fade-up">
                <div class="item-number">03</div>
                <p class="item-title">팀 활동비 지원</p>
                <p class="item-dsc">자유롭게 사용 가능한<br> 팀비 제공</p>
            </li>
            <li class="item col-sm-12 col-md-6 col-lg-4 mb-md-5 mb-3" data-aos="fade-up">
                <div class="item-number">04</div>
                <p class="item-title">브레이크 타임</p>
                <p class="item-dsc">매일 30분간<br> 휴게시간</p>
            </li>
            <li class="item col-sm-12 col-md-6 col-lg-4 mb-md-5 mb-3" data-aos="fade-up">
                <div class="item-number">05</div>
                <p class="item-title">생일혜택</p>
                <p class="item-dsc">생일자 반차<br> 상품권 지급</p>
            </li>
            <li class="item col-sm-12 col-md-6 col-lg-4 mb-md-5 mb-3" data-aos="fade-up">
                <div class="item-number">06</div>
                <p class="item-title">경조금 지원</p>
                <p class="item-dsc">경조사 시 경조금 및<br> 휴가지원</p>
            </li>
            <li class="item col-sm-12 col-md-6 col-lg-4 mb-md-5 mb-3" data-aos="fade-up">
                <div class="item-number">07</div>
                <p class="item-title">업무능력강화</p>
                <p class="item-dsc">도서구매 및<br> 직무교육 지원</p>
            </li>
            <li class="item col-sm-12 col-md-6 col-lg-4 mb-md-5 mb-3" data-aos="fade-up">
                <div class="item-number">08</div>
                <p class="item-title">중식제공 및 휴게공간</p>
                <p class="item-dsc">중식 제공 및<br> 카페테리 스낵바</p>
            </li>
            <li class="item col-sm-12 col-md-6 col-lg-4 mb-md-5 mb-3" data-aos="fade-up">
                <div class="item-number">09</div>
                <p class="item-title">정부지원사업</p>
                <p class="item-dsc">내일채움공제<br> 일학습병행제 등</p>
            </li>
        </ol>
        <div class="pb-4 pb-md-5">
            <div class="img-wrap mb-0 mb-md-5">
                <img class="img-1" src="views/images/contact_1.png" alt="" data-aos="fade-right">
                <img class="img-2 d-none d-lg-block" src="views/images/contact_2.png" alt="" data-aos="fade-left">
                <img class="img-3 d-none d-lg-block" src="views/images/contact_3.png" alt="" data-aos="fade-left">
            </div>
        </div>
        <div class="img-wrap" style="text-align:right; margin-bottom: 100px;">
            <img class="img-4 d-none d-lg-block" src="views/images/contact_4.png" alt="" data-aos="fade-right">
            <img class="img-5 d-none d-lg-block" src="views/images/contact_5.png" alt="" data-aos="fade-right">
            <img class="img-6" src="views/images/contact_6.png" alt="" data-aos="fade-left">
        </div>
    </section>
    <section class="container" style="padding-top:100px;">
        <h3 class="section-title br-circle" data-aos="fade-up">
            이루다는<br class="d-lg-none"> 진정한 프로를 꿈꾸는<br class="d-none d-lg-block">
            여러분을 기다립니다
        </h3>
        <div class="item" data-aos="fade-up">
            <div class="item-number">01</div>
            <p class="item-title mb-4">진행 방법</p>
            <ol class="flow-wrap row">
                <li class="col-6 col-lg-3">
                    <div class="text-center d-flex d-lg-inline-block mb-5">
                        <img class="mr-4 mr-lg-0 mb-lg-0" src="views/images/contact-flow-1.png" alt="">
                        <p class="mt-lg-3 item-dsc">서류전형</p>
                    </div>
                    <div class="arrow col-lg-2 d-none d-lg-block">
                        <i class="arrow-right"></i>
                    </div>
                </li>
                <li class="col-6 col-lg-3">
                  <div class="text-center d-flex d-lg-inline-block mb-5">
                      <img class="mr-4 mr-lg-0 mb-lg-0" src="views/images/contact-flow-2.png" alt="">
                      <p class="mt-lg-3 item-dsc">실무면접</p>
                  </div>
                  <div class="arrow col-lg-2 d-none d-lg-block">
                      <i class="arrow-right"></i>
                  </div>
                </li>
                <li class="col-6 col-lg-3">
                  <div class="text-center d-flex d-lg-inline-block mb-5">
                      <img class="mr-4 mr-lg-0 mb-lg-0" src="views/images/contact-flow-3.png" alt="">
                      <p class="mt-lg-3 item-dsc">임원면접</p>
                  </div>
                  <div class="arrow col-lg-2 d-none d-lg-block">
                      <i class="arrow-right"></i>
                  </div>
                </li>
                <li class="col-6 col-lg-3">
                  <div class="text-center d-flex d-lg-inline-block mb-5">
                      <img class="mr-4 mr-lg-0 mb-lg-0" src="views/images/contact-flow-4.png" alt="">
                      <p class="mt-lg-3 item-dsc">최종합격</p>
                  </div>
                </li>
            </ol>
        </div>
        <div class="item" data-aos="fade-up">
            <div class="item-number">02</div>
            <p class="item-title mb-4">지원방법:홈페이지 또는 채용 사이트 지원 (잡코리아, 사람인)</p>
        </div>
    </section>
    <section class="container" style="padding-top:100px;">
        <h3 class="section-title br-circle" data-aos="fade-up">
            [입사지원]<br>
            당신을 소개해주세요
        </h3>
        <form class="" action="index.html" method="post">
            <fieldset>
                <div class="form-check-grouparrow" data-aos="fade-up">
                  <h5 class="section-sub-title mb-3">희망 직무를 선택해주세요.<a class="btn btn-2">진행중인 공고 확인<i class="arrow-right"></i></a></h5>
                  <div class="row">
                    <div class="form-group-2 col-lg-auto col-md-4 col-6 mr-lg-3">
                      <input type="checkbox" id="performance" name="performance" value="퍼포먼스 마케팅">
                      <label for="performance">마케팅</label>
                    </div>
                    <div class="form-group-2 col-lg-auto col-md-4 col-6 mr-lg-3">
                      <input type="checkbox" id="imc" name="imc" value="IMC 통합 마케팅">
                      <label for="imc">기획</label>
                    </div>
                    <div class="form-group-2 col-lg-auto col-md-4 col-6 mr-lg-3">
                      <input type="checkbox" id="branding" name="branding" value="브랜딩">
                      <label for="branding">디자인</label>
                    </div>
                    <div class="form-group-2 col-lg-auto col-md-4 col-6 mr-lg-3">
                      <input type="checkbox" id="sns" name="sns" value="SNS 마케팅">
                      <label for="sns">영업</label>
                    </div>
                    <div class="form-group-2 col-lg-auto col-md-4 col-6 mr-lg-3">
                      <input type="checkbox" id="site" name="site" value="사이트 구축">
                      <label for="site">인사/총무</label>
                    </div>
                    <div class="form-group-2 col-lg-auto col-md-4 col-6 mr-lg-3">
                      <input type="checkbox" id="etc" name="etc" value="기타/제휴">
                      <label for="etc">재무/회계</label>
                    </div>
                  </div>
                </div>
                <div class="form-manager-signature mt-5" data-aos="fade-up">
                    <h5 class="section-sub-title mb-3">당신을 소개해주세요.</h5>
                    <div class="form-group row mx-0 mb-5 mb-lg-3">
                        <label for="" class="col-12 col-lg-2 col-form-lable m-0 px-0">이름<span class="necessary">★</span></label>
                        <div class="col-12 col-lg-10 px-0">
                            <input type="text" name="" value="" placeholder="이름을 입력해 주세요">
                        </div>
                    </div>
                    <div class="form-group row mx-0 mb-5 mb-lg-3">
                        <label for="" class="col-12 col-lg-2 col-form-lable m-0 px-0">연락처<span class="necessary">★</span></label>
                        <div class="col-12 col-lg-10 px-0">
                            <input type="tel" name="" value="" placeholder="연락처를 입력해 주세요. (-없이 숫자만 입력)">
                        </div>
                    </div>
                    <div class="email-group form-group row mx-0 mb-5 mb-lg-3">
                        <label for="" class="col-12 col-lg-2 col-form-lable m-0 px-0">이메일<span class="necessary">★</span></label>
                        <div class="col-11 col-md-7 px-0">
                            <input type="email" name="" value="">
                        </div>
                        <div class="col-1 text-box px-0">
                            <span class="input-group-text col-12 col-md-10" id="basic-addon1">@</span>
                        </div>
                        <select class="custom-select col-12 col-md-4 px-0 mt-4 mt-md-0" name="">
                            <option value="">직접입력</option>
                            <option value="naver.com">naver.com</option>
                            <option value="hanmail.net">hanmail.net</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="nate.com">nate.com</option>
                            <option value="hotmail.com">hotmail.com</option>
                        </select>
                    </div>
                    <div class="form-group row mx-0 mb-5 mb-lg-3">
                        <label for="" class="col-12 col-lg-2 col-form-lable m-0 px-0">포트폴리오 url</label>
                        <div class="col-12 col-lg-10 px-0">
                            <input type="text" name="" value="">
                        </div>
                    </div>
                    <div class="form-group row mx-0 mb-5 mb-lg-3">
                        <label for="" class="col-12 col-lg-2 col-form-lable m-0 px-0">경력</label>
                        <div class="col-12 col-lg-10 px-0">
                            <input type="text" name="" value="" placeholder="신입 or 경력 년/개월 단위로 입력해 주세요. (ex:경력 1년 6개월)">
                        </div>
                    </div>
                    <div class="form-group row mx-0 mb-5 mb-lg-3">
                        <label for="" class="col-12 col-lg-2 col-form-lable m-0 px-0">약관동의<span class="necessary">★</span></label>
                        <div class="form-group-2 col-12 col-lg-10 px-0 privacy-wrap">
                            <input type="checkbox" id="privacy" name="privacy" value="privacy">
                            <label for="privacy">개인정보 수집 및 이용에 동의 합니다.</label>
                            <a href="#none">약관보기</a>
                        </div>
                    </div>
                    <div class="form-file-attachments mt-5" data-aos="fade-up">
                        <h5 class="section-sub-title mb-3">파일첨부<span class="necessary">★</span><span class="d-block d-lg-inline-block ml-0 ml-lg-2">이력서, 자기소개서, 디자이너 포트폴리오는 필수입니다. 여러개의 파일은 압축해서 100MB이하 ZIP파일로 올려주세요.</span></h5>
                        <div class="row m-0">
                            <div id="file-attachments-wrap" class="col-lg-11 p-0">
                                <div id="file1" class="file-upload-wrapper mb-2" data-text="Select your file!">
                                  <input name="file-upload-field" type="file" class="file-upload-field" value="">
                                </div>
                            </div>
                            <div class="col-lg-1 p-0 pl-lg-2">
                                <a class="file-attachments-add"><span>+추가</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around mt-5" data-aos="fade-up">
                    <div class="col-12 col-lg-4 mt-5">
                        <input id="ad-submit" class="btn btn-outline" type="submit" value="지원 등록">
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
</main>

{% endblock %}

{% block common_js %}
<script type="text/javascript">
  (function($){
    $(".file-attachments-add").click(function() {
        var x = $("#file1"),
            y = x.clone();
        x.attr("id", "fileOld");
        y.appendTo("#file-attachments-wrap");
    });

    $("form").on("change", ".file-upload-field", function(){
        $(this).parent(".file-upload-wrapper").attr("data-text", $(this).val().replace(/.*(\/|\\)/, '') );
    });
  })(jQuery);
</script>
{% endblock %}
