{% extends "base.html" %}

{% block title %}WE DO{% endblock %}
{% block content %}
<main id="wedo">
    <section class="container" style="padding-top:192px;">
        <h3 class="section-title br-circle" data-aos="fade-up">
            브랜드와 소비자를<br>
            <span id="rolling-text">PERFORMANCE</span><br class="d-lg-none">(으)로 잇다
        </h3>
        <h4 class="section-sub-title mb-5" data-aos="fade-up">
            브랜드와 소비자의 접점을 찾기 위해 하나의<br class="d-lg-none"> 유기적인 브랜딩 기획으로 연계하여<br>
            마케팅 성과를 극대화할 수 있는 최적의 커머스<br class="d-lg-none"> 사슬을 설계합니다.
        </h4>
        <div class="counter-box row m-0" data-aos="flip-down">
            <div class="counter-box-item col-3 p-0">
                <div class="flex-column h-100 justify-content-center m-0 row text-center">
                    <div class="text">CLIENTS</div>
                    <div class="number">
                        <span class="counter" data-count="1800">0</span>
                        <span>+</span>
                    </div>
                </div>
            </div>
            <div class="counter-box-item col-3 p-0">
                <div class="flex-column h-100 justify-content-center m-0 row text-center">
                    <div class="text">CHANNEL</div>
                    <div class="number">
                        <span class="counter" data-count="1800">0</span>
                        <span>+</span>
                    </div>
                </div>
            </div>
            <div class="counter-box-item col-3 p-0">
                <div class="flex-column h-100 justify-content-center m-0 row text-center">
                    <div class="text">PRODUCTS</div>
                    <div class="number">
                        <span class="counter" data-count="1800">0</span>
                        <span>+</span>
                    </div>
                </div>
            </div>
            <div class="counter-box-item col-3 p-0">
                <div class="flex-column h-100 justify-content-center m-0 row text-center">
                    <div class="text">MEMBERS</div>
                    <div class="number">
                        <span class="counter" data-count="1800">0</span>
                        <span>+</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container pt-5 mt-2">
        <ul class="accordion pt-5 mt-5">
            <li data-aos="fade-up">
                <div class="nest">
                    <div class="item">
                        <div class="item-number">01</div>
                        <h5 class="item-title">PERFORMANCE MARKETING</h5>
                        <p class="item-text">광고 효율 데이터 수집 및 분석을 통해 얻은 인사이트를 기반으로 최고의 퍼포먼스 효율을 제공합니다.</p>
                        <div class="more">more<span>+</span></div>
                        <div class="btn-close">close<span class="arrow-top"></span></div>
                    </div>
                </div>
                <div class="inner row">
                    <P class="col-12 inner-title">PROCESS</P>
                    <P class="col-12 inner-text inner-text mb-lg-100 mb-50">소비자 퍼널을 구축하고 지속적인 효율 측정 및 분석을 통해 최초의 퍼널을 끊임없이 개선해나감으로써<br> 최적의 퍼포먼스 운영 방안을 모색합니다.</P>
                    <div class="img-wrap">
                        <img src="views/images/wedo-process-01.png" alt="" class="d-none d-lg-block">
                        <img src="views/images/mo-wedo-process-01.png" alt="" class="d-block d-lg-none m-auto">
                    </div>
                </div>
            </li>
            <li data-aos="fade-up">
                <div class="nest">
                    <div class="item">
                        <div class="item-number">02</div>
                        <h5 class="item-title">IMC PLANNING</h5>
                        <p class="item-text">미디어&채널 플래닝 부터 콘텐츠 크리에이티브까지 모든 채널을 연계한 유기적인 토탈 마케팅 솔루션을 제공합니다.</p>
                        <div class="more">more<span>+</span></div>
                        <div class="btn-close">close<span class="arrow-top"></span></div>
                    </div>
                </div>
                <div class="inner">
                    <P class="inner-title">PROCESS</P>
                    <P class="inner-text mb-lg-100 mb-50">클라이언트를 다방면으로 분석한 브랜드 프로파일링을 통해 퍼포먼스 IMC전략을 기획하고,<br>이를 바탕으로 온·오프라인 채널의 다양한 고객들에게 일관된 브랜드 메시지를 전달합니다.</P>
                    <div class="img-wrap">
                        <img src="views/images/wedo-process-02.png" alt="" class="d-none d-lg-block">
                        <img src="views/images/mo-wedo-process-02.png" alt="" class="d-block d-lg-none m-auto">
                    </div>
                </div>
            </li>
            <li data-aos="fade-up">
                <div class="nest">
                    <div class="item">
                        <div class="item-number">03</div>
                        <h5 class="item-title">BRANDING</h5>
                        <p class="item-text">브랜드 핵심 아이덴티티를 수립하여 브랜드 인지도 제고 및 최고의 퍼포먼스를 견인하는 브랜딩 전략을 제시합니다.</p>
                        <div class="more">more<span>+</span></div>
                        <div class="btn-close">close<span class="arrow-top"></span></div>
                    </div>
                </div>
                <div class="inner">
                    <P class="inner-title">PROCESS</P>
                    <P class="inner-text">이루다마케팅은 프로파일링 과정을 통해 브랜드의 현재를 진단하고, 각 브랜드가 나아가야할 차별화된 컨셉과 운영 방향을 제시합니다.</P>
                    <div class="img-wrap">
                        <img src="views/images/wedo-process-03.png" alt="" class="d-none d-lg-block">
                        <img src="views/images/mo-wedo-process-03.png" alt="" class="d-block d-lg-none m-auto">
                    </div>
                </div>
            </li>
            <li data-aos="fade-up">
                <div class="nest">
                    <div class="item">
                        <div class="item-number">04</div>
                        <h5 class="item-title">CONTENTS MARKETING</h5>
                        <p class="item-text">브랜드 아이덴티티에 최적화된 트렌드 한 컨셉과 디자인 톤앤매너를 확립하여 브랜드의 코어 메시지를 전달합니다.</p>
                        <div class="more">more<span>+</span></div>
                        <div class="btn-close">close<span class="arrow-top"></span></div>
                    </div>
                </div>
                <div class="inner">
                    <div class="inner-item">
                        <P class="inner-title">BRAND CONCEPT</P>
                        <div class="inner-item-img">
                            <img src="views/images/work_we do_1.png" alt="">
                        </div>
                        <P class="inner-text">브랜드 - 엄마의목교탕레시피<br>뉴트로와 목욕탕 감성이라는 브랜드 아이덴티티를 중심으로 엄마들이 목욕탕에서 각자의 비법으로 수제팩을 만들어 썻던 아이디어를 현대에 맞게 재해선한 컨셉 브랜드.</P>
                    </div>
                    <div class="inner-item">
                        <P class="inner-title">BRAND CONTENTS</P>
                        <P class="inner-text">뉴트로+목용탕 감성 컨셉의 브랜드 아이덴티티에 맞추어 복고적인 느낌과 위트 있는 컨셉의 브랜드 콘텐츠 기획 및 제작</P>
                        <div class="inner-item-img">
                            <img src="views/images/work_we do_2.png" alt="">
                        </div>
                    </div>
                </div>
            </li>
            <li data-aos="fade-up">
                <div class="nest">
                    <div class="item">
                        <div class="item-number">05</div>
                        <h5 class="item-title">SITE PRODUCTION</h5>
                        <p class="item-text">브랜딩과 퍼포먼스에 최적화 된 UI/UX를 통해 소비자들에게 최고의 브랜드 경험을 제공합니다.</p>
                        <div class="more">more<span>+</span></div>
                        <div class="btn-close">close<span class="arrow-top"></span></div>
                    </div>
                </div>
                <div class="inner">
                    <P class="inner-title">WE BUILD BRAND</P>
                    <P class="inner-text">브랜드 핵심 가치가 소비자의 최종 구매활동까지 이어지도록 브랜드의 컨셉 및 마케팅 목표를 파악하여 고객 경험에 최적화된 커머스 사이트를 구축 합니다.</P>
                    <div class="img-wrap">
                        <img src="views/images/wedo-process-05.png" alt="" class="d-none d-lg-block">
                        <img src="views/images/mo-wedo-process-05.png" alt="" class="d-block d-lg-none m-auto">
                    </div>
                </div>
            </li>
            <li data-aos="fade-up">
                <div class="nest">
                    <div class="item">
                        <div class="item-number">06</div>
                        <h5 class="item-title">AD-TECH SOLUTION</h5>
                        <p class="item-text">AD-TECH SOLUTION을 통해 최고의 데이터 기반 마케팅을 실현합니다.</p>
                        <div class="more">more<span>+</span></div>
                        <div class="btn-close">close<span class="arrow-top"></span></div>
                    </div>
                </div>
                <div class="inner">
                    <div class="inner-item">
                        <P class="inner-title">PROCESS</P>
                        <P class="inner-text">이루다마케팅만의 애널리틱스 솔루션은 고객의 행동 데이터 분석을 통해 도출 된 인사이트로 고객 브랜드 경험 개선, 마케팅 퍼포먼스 효율화를 제공합니다.</P>
                        <div class="img-wrap">
                            <img src="views/images/wedo-process-06.png" alt="" class="d-none d-lg-block">
                            <img src="views/images/mo-wedo-process-06.png" alt="" class="d-block d-lg-none m-auto">
                        </div>
                    </div>
                    <div class="inner-item">
                        <P class="inner-title">ERUDA ANALYTICS</P>
                        <div class="inner-item-img">
                            <img src="views/images/work_we do_3.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="inner-item col-12 col-lg-6">
                            <P class="inner-title">ERUDA ANALYTICS</P>
                            <div class="inner-item-img">
                                <img src="views/images/work_we do_4.png" alt="">
                            </div>
                        </div>
                        <div class="inner-item col-12 col-lg-6">
                            <P class="inner-title">ERUDA ANALYTICS</P>
                            <div class="inner-item-img">
                                <img src="views/images/work_we do_5.png" alt="">
                            </div>
                        </div>
                        <div class="inner-item col-12 col-lg-6" style="margin-bottom:0;">
                            <P class="inner-title">ERUDA ANALYTICS</P>
                            <div class="inner-item-img">
                                <img src="views/images/work_we do_6.png" alt="">
                            </div>
                        </div>
                        <div class="inner-item col-12 col-lg-6">
                            <P class="inner-title">ERUDA ANALYTICS</P>
                            <div class="inner-item-img">
                                <img src="views/images/work_we do_7.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</main>


{% endblock %}
{% block common_js %}
<script type="text/javascript">
    (function($) {
        raito('counter-box-item', 1);

        $('.counter').each(function() {
            var $this = $(this),
                countTo = $this.attr('data-count');

            $({
                countNum: $this.text()
            }).animate({
                    countNum: countTo
                },

                {
                    duration: 8000,
                    easing: 'linear',
                    step: function() {
                        $this.text(Math.floor(this.countNum));
                    },
                    complete: function() {
                        $this.text(this.countNum);
                        //alert('finished');
                    }
                });
        });

        $(document).ready(function() {
            $(".accordion li").on("click", function() {
                if ($(this).find(".inner").hasClass("show")) {
                    $(this).find(".inner").removeClass("show");
                    $(this).find(".inner").slideUp(300);
                    $(this).toggleClass('click');
                } else {
                    $(this).parent().find("li .inner").removeClass("show");
                    $(this).parent().find("li .inner").slideUp(300);
                    $(this).find(".inner").toggleClass("show");
                    $(this).find(".inner").slideToggle(300);
                    $(this).toggleClass('click');
                }
                $(".accordion li").not($(this)).removeClass("click");
                $('html, body').animate({
                    scrollTop: $(this).offset().top - 92
                }, 400);
            });
        });

        $('html, body').animate({
            scrollTop: offset.top
        }, 400);
        $(window).on('resize', function() {
            raito('counter-box-item', 1);
        });
    })(jQuery);
</script>
{% endblock %}
